.headSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  color: white;
  height: 600px;
  padding: 20px;
}

.headContent {
  width: 100%;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
}

.paraFirst {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .headSection {
    justify-content: center;
    padding: 0 112px;
  }

  .headContent {
    width: 30%;
  }

  .title {
    font-size: 36px;
  }

  .paragraph {
    font-size: 18px;
  }
}